.gallery img {
  cursor: pointer;
  object-fit: cover; /* Change 'cover' to 'contain' to prevent cropping */
  object-position: center;
  max-width: 100%;
  max-height: 66vh;
}

/* Gallery styles */
.gallery {
  margin: 20px auto; /* Center the gallery horizontally */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid black;
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box; /* Include padding and border in the width calculation */
  border-radius: 16px;
}

#galleries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the galleries horizontally */
}

.gallery {
  width: 100%; /* Occupies full width initially */
}

.large-image-container img {
  display: block;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.thumbnails-container {
  display: flex;
  justify-content: flex-start; /* Align thumbnails to the left */
  align-items: center;
  overflow-x: auto; /* Add horizontal scroll when necessary */
  min-width: 100%; /* Ensure thumbnails don't clip, and the scroll will appear if necessary */
}

.thumbnails-container img {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.thumbnails-container img:hover {
  border-color: #2ac955; /* Change the border color on hover */
}

.gallery-title {
  font-family: 'notosans';
  font-size: 18px;
  margin-bottom: 10px;
}


.bubble-trigger-gallery {
  position: sticky;
  top: -1.5vh;
  left: -1.5vw;
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  z-index: 3;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 12px;
}

.bubble-gallery {
  position: sticky;
  top: 0.6vh;
  left: -1vw;
  display: none;
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  z-index: 4;
  border-radius: 15px;
  font-family: 'notosans', 'sans-serif';
  border: 1px solid black;
  cursor: default;
}

.bubble-gallery a {
  color: rgb(24, 124, 255);
}

.bubble-gallery a:hover{
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.bubble-trigger-gallery:hover + .bubble-gallery,
.bubble-gallery:hover {
  display: block;
}
