.gallery img {
  cursor: pointer;
  object-fit: contain; /* Change 'cover' to 'contain' to prevent cropping */
  object-position: center;
  max-width: 100%;
  border-radius: 16px;
}

/* Gallery styles */
.gallery {
  margin: 20px auto; /* Center the gallery horizontally */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid black;
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box; /* Include padding and border in the width calculation */
  border-radius: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.large-image-container {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  height: 70vh; /* Set a fixed height to the container */
  overflow: hidden; /* Hide any overflow if the image is too tall */
}


.gallery-container {
  display: flex;
  flex-direction: column;
}

.gallery.zoomed-gallery {
  flex-wrap: nowrap;
}

#galleries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the galleries horizontally */
}

.large-image-container img {
  height: 100%; /* Make the image fill the container's height */
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
}

.thumbnails-container {
  margin-top: 2vh;
  display: flex;
  justify-content: center; /* Align thumbnails to the left */
  align-items: center;
  overflow-x: auto; /* Add horizontal scroll when necessary */
  min-width: 100%; /* Ensure thumbnails don't clip, and the scroll will appear if necessary */
  align-self: flex-end;
  border: 1px solid black;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
}

.thumbnails-container img {
  width: 70px;
  height: 70px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.thumbnails-container img:hover {
  border-color: #8425ff; /* Change the border color on hover */
  background-color: white;
}

.gallery-title {
  font-family: 'sanfrancisco';
  font-size: 18px;
  margin-bottom: 10px;
}


.bubble-trigger-gallery {
  position: absolute;
  top: -1.5vh;
  left: -1.5vw;
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  z-index: 3;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 12px;
}

.bubble-gallery {
  position: absolute;
  top: 0.6vh;
  left: -1vw;
  display: none;
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  z-index: 4;
  border-radius: 15px;
  font-family: 'sanfrancisco', 'sans-serif';
  border: 1px solid black;
  cursor: default;
}

.bubble-gallery a {
  color: rgb(24, 124, 255);
}

.bubble-gallery a:hover{
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.bubble-trigger-gallery:hover + .bubble-gallery,
.bubble-gallery:hover {
  display: block;
}