.bottombar{
    text-align: center;
    font-family: 'sanfrancisco', sans-serif;
    font-size: 1.5em;
    color: black;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border-top: 1px solid black;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .bottombar-button{
    transform: scale(1);
    transition: background-color 0.6s ease, transform 0.6s ease;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .bottombar-button:hover {
    transition: 0.5s;
  }

  #goTopBtn:hover{
    cursor: pointer;
  }

  #goTopBtn {
    transition: transform 0.5s;
  }
  
  #goTopBtn:hover {
    transform: scale(1.2);
  }
  
  #goTopBtn:not(:hover) {
    transform: scale(1);
  }

  
  .giticon {
    transition: transform 0.5s;
  }
  
  .giticon:hover {
    transform: scale(1.2);
  }
  
  .giticon:not(:hover) {
    transform: scale(1);
  }