.section-title{
    margin-top: 9vh;
    margin-bottom: 3vh;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.section-title-long{
    margin-left: 35vw;
    margin-right: 35vw;
}

.section-title-short{
    width: 20vw;
    margin-left: 40vw;
}

@media (max-width: 600px) {
    .section-title{
            margin-top: 7vh;
    }
    .section-title-long{
        margin-right: 20%;
        margin-left: 20%;
    }
}

.gdrive-button{
    transition: transform 0.5s;
}

.gdrive-button:hover {
   transform: scale(0.9);
   z-index: 1;
}
  
.gdrive-button:not(:hover) {
   transform: scale(0.8);
}

  .section-title-two{
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    width: 50vw;
    margin-left: 25vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.section-title-two-short{
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
    margin-right: 40vw;
    margin-left: 40vw;
}

@media (max-width: 600px) {
    .section-title-two-short{
        margin-top: 3vh;
        margin-bottom: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        text-align: center;
        margin-right: 30%;
        margin-left: 30%;
    }
}

.gallery-title-two{
    margin-top: 1vh;
    padding: 0.5%;
    margin-bottom: 1vh;
    text-align: center;
    margin-left:25%;
    margin-right:25%;
}


@media (max-width: 900px) {
    .gallery-title-two{
        padding: 0.5%;
        margin-left: 15%;
        margin-right: 15%;
    }    
}